<maximo-application navigator-tile-order="200" controller="AppController" theme="touch" product-name="Maximo" product-name-adaptive="Maximo" title="PO Approvals" id="apprmobile" mas-id="manage" version="9.1.0.0" default-log-level="error" user-menu-enabled="true" nav-initial-open-state="false" mas-enabled="false">
  <properties id="n5nx9">
    <property name="maximo.mobile.statusforphysicalsignature" id="ee54n"/>
    <property name="maximo.mobile.completestatus" id="bdwkx"/>
    <property name="mxe.mobile.navigation.windows" id="pvme4"/>
    <property name="mxe.mobile.navigation.ios" id="m6d7d"/>
    <property name="mxe.mobile.navigation.android" id="vw2eg"/>
  </properties>
  <states id="k7r_g">
    <!-- System properties -->
    <state name="systemProp" type="object" id="vk56k">
      <state name="maximo.mobile.completestatus" value="COMP" type="string" id="dq8k8"/>
    </state>
    <!-- status/attribute checks -->
    <state name="poStatSigOptions" value="{&quot;APPR&quot; : &quot;APPR&quot;,&quot;INIT&quot; : &quot;INPRG&quot;,&quot;UNDOAPPR&quot; : &quot;WAPPR&quot;,&quot;WSCH&quot; : &quot;WSCH&quot;,&quot;CANCEL&quot; : &quot;CAN&quot;,&quot;CLOSE&quot; : &quot;CLOSE&quot;,&quot;COMP&quot; : &quot;COMP&quot;}" type="object" id="vv8pz"/>
    <state name="refreshOnSubsequentLogin" value="false" type="boolean" id="n8yd4"/>
    <!-- state name="skipQualWarning" value="false" type="boolean" id="q3vpm"/-->
    <state name="skipSignature" value="false" type="boolean" id="xn6p6"/>
    <state name="poOSName" value="MXAPIPO" type="string" id="dxkem"/>
  </states>
  <menu slot="navigation-items" id="ax__k">
    <menu-item label="PO Approvals" icon="maximo:work-orders-approve" page="approvals" id="xz3x6"/>
  </menu>
  <!-- Purchase Order details datasource -->
  <maximo-datasource id="poDetailds" object-structure="mxapipo">
    <schema id="yb7bq">
      <attribute name="ponum" unique-id="true" id="eanqy"/>
      <attribute name="poid" id="kaen8"/>
      <attribute name="description" id="g7dkr"/>
      <attribute name="description_longdescription" id="zqmgx"/>
      <attribute name="status" id="xvr67"/>
      <attribute name="siteid" id="bkkvg"/>
      <attribute name="revisionnum" id="byb5g"/>
      <attribute name="revcomments" id="pbggx"/>
      <attribute name="revcomments_longdescription" id="xb29e"/>
      <!-- details -->
      <attribute name="potype" id="j56w7"/>
      <attribute name="buyercompany" id="yyb29"/>
      <attribute name="buyer" id="zk_65"/>
      <attribute name="priority" id="eg7ja"/>
      <attribute name="receipts" id="r5b57"/>
      <attribute name="contractrefnum" id="p8eg7"/>
      <attribute name="contracttype" id="qy4ma"/>
      <attribute name="contractrefrev" id="kyy_6"/>
      <attribute name="contreleaseseq" id="va7wn"/>
      <!-- dates -->
      <attribute name="statusdate" id="kbwpm"/>
      <attribute name="orderdate" id="ex2pj"/>
      <attribute name="requireddate" id="wwpeg"/>
      <attribute name="followupdate" id="edew5"/>
      <attribute name="vendeliverydate" id="pkn8n"/>
      <!-- costs -->
      <attribute name="pretaxtotal" id="wy82_"/>
      <attribute name="totaltax1" id="k85a3"/>
      <attribute name="totalcost" id="b2wxp"/>
      <attribute name="currencycode" id="r79y5"/>
      <attribute name="totalbasecost" id="jzx55"/>
      <!-- vendor -->
      <attribute name="vendor{name,address1,address2,address3,address4,phone}" id="e8xb_"/>
      <attribute name="contact" id="y2azw"/>
      <attribute name="customernum" id="md8gn"/>
      <attribute name="internalchange" id="a9ed5"/>
      <attribute name="internal" id="gjvyz"/>
      <attribute name="storeloc" id="j79j_"/>
      <attribute name="storelocsiteid" id="wpyn7"/>
      <attribute name="freightterms" id="e93v6"/>
      <attribute name="paymentterms" id="nrak4"/>
      <attribute name="shipvia" id="bz_rw"/>
      <attribute name="fob" id="gzaj6"/>
      <attribute name="inclusive1" id="d8_g3"/>
      <attribute name="payonreceipt" id="j4rd9"/>
      <attribute name="inspectionrequired" id="k2dq7"/>
      <!-- ship to -->
      <attribute name="shipto{description,address1,address2,address3,address4}" id="kj3yn"/>
      <attribute name="shiptoattn" id="nd7e7"/>
      <!-- bill to -->
      <attribute name="billto{description,address1,address2,address3,address4}" id="dpz8a"/>
      <attribute name="billtoattn" id="qarnj"/>
    </schema>
    <!-- status data (child of poDetailds) -->
    <maximo-datasource id="poStatusds" relationship="postatus" depends-on="poDetailds">
      <schema id="vpkz6">
        <attribute name="postatusid" unique-id="true" id="rjq62"/>
        <attribute name="ponum" id="egd75"/>
        <attribute name="siteid" id="xgar5"/>
        <attribute name="orgid" id="ev5j2"/>
        <attribute name="revisionnum" id="gmm9_"/>
        <attribute name="status" id="agjk3"/>
        <attribute name="changeby" id="mr96j"/>
        <attribute name="changedate" id="drka9"/>
        <attribute name="memo" id="w755a"/>
      </schema>
    </maximo-datasource>
    <!-- work/comm logs (child of poDetailds) -->
    <maximo-datasource id="poWorkLogds" relationship="worklog" depends-on="poDetailds">
      <schema id="n2pj8">
        <attribute name="recordkey" id="mkb3a" unique-id="true"/>
        <attribute name="class" id="ybxdg"/>
        <attribute name="createby" id="b7_vw"/>
        <attribute name="createdate" id="x4mjm"/>
        <attribute name="logtype" id="k5jgw"/>
        <attribute name="clientviewable" id="nkmbn"/>
        <attribute name="description" id="jy_p5"/>
        <attribute name="description_longdescription" id="rm33v"/>
      </schema>
    </maximo-datasource>
    <maximo-datasource id="poCommLogds" relationship="commlog" depends-on="poDetailds">
      <schema id="j5v6b">
        <attribute name="orgapp" id="wn25d"/>
        <!-- originating application -->
        <attribute name="commlogid" id="bw76b" unique-id="true"/>
        <!-- ID -->
        <attribute name="createby" id="eky89"/>
        <attribute name="sendto" id="qp64x"/>
        <attribute name="sendfrom" id="br4qv"/>
        <attribute name="createdate" id="n_499"/>
        <attribute name="subject" id="zq3vz"/>
        <attribute name="inbound" id="zk7qg"/>
        <attribute name="message" id="d7j44"/>
        <attribute name="cc" id="bz39v"/>
        <attribute name="bcc" id="yp5bj"/>
      </schema>
    </maximo-datasource>
  </maximo-datasource>
  <maximo-datasource id="defaultSetDs" offline-immediate-download="true" lookup-data="true" pre-load="true" object-structure="mxapiorganization" saved-query="MOBILEORG">
    <schema id="x7qy4">
      <attribute name="itemsetid" id="kaqzk"/>
      <attribute name="orgid" unique-id="true" searchable="true" id="rgk7b"/>
      <attribute name="rel.maxvars{*}" id="apv72"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="conversionUnitDs" object-structure="MXAPICONVERSION" offline-immediate-download="true" pre-load="true" selection-mode="single">
    <schema id="jkdm6">
      <attribute name="frommeasureunit" searchable="true" id="argda"/>
      <attribute name="tomeasureunit" searchable="true" id="q329r"/>
      <attribute name="conversion" searchable="true" id="qxp97"/>
      <attribute name="conversionid" unique-id="true" searchable="true" id="axg8w"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="numericDomainDS" offline-immediate-download="true" object-structure="MXAPINUMERICDOMAIN" page-size="5000" lookup-data="true" selection-mode="single">
    <schema id="d7476">
      <attribute name="domainid" unique-id="true" searchable="true" id="r4yw_"/>
      <attribute name="value" searchable="true" id="r75ab"/>
      <attribute name="description" searchable="true" id="anam2"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="tableDomainDS" offline-immediate-download="true" lookup-data="true" object-structure="MXAPITABLEDOMAIN" selection-mode="single" page-size="5000">
    <schema id="mmak2">
      <attribute name="value" searchable="true" id="kkn97"/>
      <attribute name="description" searchable="true" id="z3vy7"/>
      <attribute name="domainid" unique-id="true" id="agmge"/>
      <attribute name="siteid" id="qjz6d"/>
      <attribute name="orgid" id="ym9mx"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="alnDomainDS" id-attribute="domainid" lookup-data="true" object-structure="mxapialndomain" page-size="100" selection-mode="single">
    <schema id="drame">
      <attribute name="domainid" searchable="true" id="zyv_r"/>
      <attribute name="value" searchable="true" id="ax53j"/>
      <attribute name="description" searchable="true" id="mddw6"/>
      <attribute name="valueid" unique-id="true" id="apxmd"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="synonymdomainData" offline-immediate-download="true" lookup-data="true" object-structure="mxapisynonymdomain" saved-query="MOBILEDOMAIN" selection-mode="single">
    <schema id="bn686">
      <attribute name="value" searchable="true" id="xp2e9"/>
      <attribute name="maxvalue" searchable="true" id="g58pj"/>
      <attribute name="description" searchable="true" id="wwwzq"/>
      <attribute name="domainid" searchable="true" id="m2ebr"/>
      <attribute name="valueid" unique-id="true" searchable="true" id="aakrv"/>
      <attribute name="siteid" searchable="true" id="r27qk"/>
      <attribute name="orgid" searchable="true" id="wz5gx"/>
      <attribute name="defaults" id="avz96"/>
    </schema>
  </maximo-datasource>
  <dialogs id="p3gwn">
    <dialog id="confirmDialog" title="{app.state.confirmDialog.title}" primary-action-text="{app.state.confirmDialog.acceptButton}" primary-icon="{app.state.confirmDialog.acceptIcon}" on-primary-action="confirmDialogPrimaryClick" primary-kind="{app.state.confirmDialog.acceptKind}" on-secondary-action="confirmDialogSecondaryClick" secondary-action-text="{app.state.confirmDialog.rejectButton}" secondary-icon="{app.state.confirmDialog.rejectIcon}" on-close-action="confirmDialogCloseClick">
      <border-layout padding="false" fill-parent="true" id="qkg_2">
        <top id="j7kb3">
          <label wrap="true" label="{app.state.confirmDialog.label1}" id="dialogLabel1" padding="top"/>
        </top>
        <middle id="mxp6p">
          <label wrap="true" label="{app.state.confirmDialog.label2}" id="dialogLabel2" padding="none"/>
        </middle>
      </border-layout>
    </dialog>
  </dialogs>
  <pages id="pages">
    <page padding="true" id="approvals" path="/approvals" title="Approvals" icon="maximo:work-orders-approve" controller="SharedResources/POSchedulePageController">
      <states id="vnybx">
        <state name="selectedSwitch" value="0" type="number" id="xq4pe"/>
        <state name="dialogLabel" value="" type="string" id="w73r5"/>
        <state name="selectedDS" value="assignedpoDS" type="string" id="wvvma"/>
        <state name="firstPO" value="" type="string" id="mkg6z"/>
        <state name="firstLogin" value="false" type="boolean" id="nwpyg"/>
        <state name="previousPage" type="string" value="" id="n8r2j"/>
        <state name="compDomainStatus" value="" type="string" id="z35nd"/>
        <state name="dataSourceIntializationCount" value="0" type="number" id="qwvyg"/>
        <state name="checkForUpdateButton" value="false" type="boolean" id="zqzdk"/>
      </states>
      <maximo-datasource id="assignedpoDS" object-structure="mxapipo" saved-query="POWAPPR" mobile-qbe-filter="{{'status_maxvalue': '!=COMP,CAN,CLOSE,WAPPR'}}" offline-immediate-download="true" order-by="priority" pre-load="false" controller="SharedResources/POScheduleDataController" selection-mode="none" geometry-format="geojson" default="true" page-size="25">
        <schema id="amk2z">
          <attribute name="ponum" sortable="false" searchable="true" id="r9w6v"/>
          <attribute name="description" searchable="true" id="d324b"/>
          <attribute name="priority" searchable="true" id="dg8jq"/>
          <attribute name="potype" searchable="true" id="vp5mb"/>
          <attribute name="status" sortable="true" searchable="true" id="ekmrx"/>
          <attribute name="status_description" sortable="false" id="za44g"/>
          <attribute name="status_maxvalue" sortable="false" index="true" id="qpyqk"/>
          <attribute name="siteid" sortable="false" searchable="true" id="ykgwp"/>
          <attribute name="orgid" sortable="false" id="a_vg5"/>
          <attribute name="np_statusmemo" id="zd69q"/>
          <attribute name="poid" sortable="false" unique-id="true" id="gzwj2"/>
          <attribute name="potype" sortable="true" id="wnpqk"/>
          <attribute name="orgid" sortable="false" id="mayz5"/>
        </schema>
      </maximo-datasource>
      <maximo-datasource id="poAttachmentDs" object-structure="mxapipo" item-url="{page.params.href}">
        <schema id="nd6v9">
          <attribute name="poid" unique-id="true" id="wmkv_"/>
          <attribute name="ponum" id="mwjz6"/>
          <attribute name="siteid" id="gqb8q"/>
        </schema>
        <maximo-datasource id="signatureAttachment" attachment="true" relationship="doclinks" selection-mode="none" notify-when-parent-loads="true">
          <schema id="wz82w">
            <attribute name="*" unique-id="true" id="knwn2"/>
          </schema>
        </maximo-datasource>
      </maximo-datasource>
      <json-datasource id="rejectList" src="{[]}" items="statusItems" selection-mode="single" id-attribute="value">
        <schema id="wvm59">
          <attribute name="value" id="zqdvj"/>
          <attribute name="description" id="j8bpj"/>
          <attribute name="valuid" id="pgy35"/>
          <!-- TODO: check if typo -->
          <attribute name="domainid" id="rkp_p"/>
        </schema>
      </json-datasource>
      <json-datasource id="dsstatusDomainList" src="{[]}" items="statusItems" selection-mode="single" id-attribute="value">
        <schema id="gr2dm">
          <attribute name="value" id="qyj26"/>
          <attribute name="description" id="jw9kr"/>
          <attribute name="maxvalue" id="qvn5b"/>
        </schema>
      </json-datasource>
      <header-template hide-breadcrumb="true" title-column-width="{page.state.breadcrumbWidth ? page.state.breadcrumbWidth : app.state.screen.size === 'md' ? 50 : app.state.screen.size === 'lg' ? 30 : app.state.screen.size === 'xlg' ? 21 : 65}" id="zewd_">
        <!-- dropdown items -->
        <dropdown slot="dropdown" background-color="white" selected-item="{page.state.selectedDS}" on-change="loadPOListData" hide-unselected-placeholder="true" id="a7dap">
          <dropdown-item value="assignedpoDS" text="Purchase orders awaiting approval" id="vpdz8"/>
        </dropdown>
      </header-template>
      <stacked-panel selected-index="{page.state.selectedSwitch}" id="qzfnm">
        <panel id="listViewPanel">
          <include src="./po-card-group.xml" id="listViewPOCards"/>
        </panel>
      </stacked-panel>
      <dialogs id="approvalsDialogs">
        <dialog id="saveDiscardWorkLog" title="Save or discard changes?" primary-action-text="Save" on-primary-action="saveWorkLogSaveDiscard" primary-kind="secondary" primary-button-disabled="{page.state.workLogData.sendDisable}" on-secondary-action="closeWorkLogSaveDiscard" secondary-action-text="Discard">
          <label wrap="true" label="To leave this page, you must first discard or save your changes." id="q93dp"/>
        </dialog>
        <!-- sliding drawers -->
        <sliding-drawer id="workLogDrawer" validate="workLogValidate" align="start" header-text="Work log" content-padding="false">
          <chat-log messages="{page.state.chatLogGroupData}" default-log-type="{page.state.initialDefaultLogType}" default-log-type-key="value" datasource="synonymdomainData" content-limit="{page.state.chatLogDescLength}" log-type-attribute="{['value','description']}" id="g7wpp" on-click="saveWorkLog" loading="{page.state.chatLogLoading}" is-config-btn="true" watch-changes="watchChatLogChanges"/>
        </sliding-drawer>
        <sliding-drawer id="rejectPO" align="start" header-text="{page.state.assignmentHeader}" sub-title="{page.state.assignmentSubHeader}" content-padding="false" controller="SharedResources/RejectController">
          <box direction="column" id="dyyr5">
            <panel id="g_zay">
              <data-list datasource="rejectList" show-single-select-icon="true" on-item-click="selectStatus" selected-icon="carbon:checkmark--filled" unselected-icon="carbon:radio-button" show-search="false" id="jjxb_">
                <list-item id="m9g69">
                  <border-layout fill-parent="true" padding="false" id="ab2yy">
                    <middle horizontal-overflow="hidden" id="nejxx">
                      <label label="{item.description}" theme="16-regular" padding="none" id="bmpby"/>
                      <label label="{item.value}" padding="none" id="nygr6"/>
                    </middle>
                  </border-layout>
                </list-item>
              </data-list>
            </panel>
          </box>
          <button-group slot="header-button" align="end" id="d9k9w">
            <button icon="carbon:checkmark--outline" kind="primary" loading="{page.state.loadingstatus===true}" on-click="rejectStatus" id="k3_xr"/>
          </button-group>
        </sliding-drawer>
        <sliding-drawer id="poStatusChangeDialog" align="start" header-text="Change status" content-padding="false" controller="SharedResources/ChangeStatusController">
          <box direction="column" id="wqmqr">
            <panel id="changeStatusPanel">
              <box direction="row" vertical-align="center" padding-start="1" padding-top="0.5" padding-bottom="0.5" id="erjjx">
                <label theme="20-regular" label="Select a status" padding="default" id="xvk52"/>
              </box>
              <data-list datasource="dsstatusDomainList" show-single-select-icon="true" on-item-click="selectStatus" selected-icon="carbon:checkmark--filled" unselected-icon="carbon:radio-button" show-search="false" id="yjgxr">
                <list-item id="changeStatusList">
                  <border-layout fill-parent="true" padding="false" id="rd54j">
                    <middle horizontal-overflow="hidden" id="k5n46">
                      <label label="{item.description}" theme="16-regular" padding="none" id="bq6g3"/>
                      <label label="{item.value}" padding="none" id="zrmr9"/>
                    </middle>
                  </border-layout>
                </list-item>
              </data-list>
            </panel>
            <panel id="changeStatusMemo">
              <box direction="row" vertical-align="center" padding-top="1" fill-parent="true" background-color="field-01" id="ere99">
                <border-layout padding="true" fill-parent="true" background-color="field-01" id="z7pj6">
                  <start id="kj5x5">
                    <text-area id="statusMemo" value="{page.state.statusMemo}" on-change="setStatusMemo" placeholder="Add a comment about the status change" max-length="{page.state.memoMaxLength}" label="Add a comment (optional)"/>
                  </start>
                </border-layout>
              </box>
            </panel>
          </box>
          <button-group slot="header-button" align="end" id="changeStatusButton">
            <button icon="carbon:checkmark--outline" kind="primary" loading="{page.state.loadingstatus===true}" on-click="changeStatus" id="approvalsChangeStatusBtn"/>
          </button-group>
        </sliding-drawer>
        <!-- lookups -->
        <lookup id="logTypeLookup" show-search="false" lookup-heading="Select Log Type" show-count="false" datasource="synonymDomainData" on-item-click="setLogType" border="true" lookup-attributes="{['value', 'description']}" height="400" width="60"/>
      </dialogs>
    </page>
    <!-- Purchase Order Detail View -->
    <page padding="true" id="poDetails" path="/poDetails" title="Purchase Order" controller="SharedResources/PurchaseOrderDetailsController">
      <states id="m6prr">
        <state name="itemToOpen" value="" type="string" id="ay5j2"/>
      </states>
      <maximo-datasource id="poDetailResource" object-structure="mxapipo" where="ponum=&quot;{page.params.ponum}&quot; and siteid=&quot;{page.params.siteid}&quot;" controller="SharedResources/PurchaseOrderDataController" cache-expiry-ms="1" geometry-format="geojson">
        <schema id="na2_d">
          <attribute name="ponum" unique-id="true" id="v6bq7"/>
          <attribute name="poid" id="yxyad"/>
          <attribute name="description" id="xj883"/>
          <attribute name="description_longdescription" id="ma8bq"/>
          <attribute name="status" id="rrggn"/>
          <attribute name="siteid" id="yky_7"/>
          <attribute name="revisionnum" id="bpbr7"/>
          <attribute name="revcomments" id="n86wn"/>
          <attribute name="revcomments_longdescription" id="v5vkg"/>
          <!-- details -->
          <attribute name="potype" id="p7yxj"/>
          <attribute name="buyercompany" id="qw829"/>
          <attribute name="buyer" id="e2ggj"/>
          <attribute name="priority" id="enz8j"/>
          <attribute name="receipts" id="rqgxr"/>
          <attribute name="contractrefnum" id="qj4v_"/>
          <attribute name="contracttype" id="kwrzz"/>
          <attribute name="contractrefrev" id="nz24y"/>
          <attribute name="contreleaseseq" id="zq6p7"/>
          <!-- dates -->
          <attribute name="statusdate" id="d3w9d"/>
          <attribute name="orderdate" id="rrvgw"/>
          <attribute name="requireddate" id="b2a3k"/>
          <attribute name="followupdate" id="zdggg"/>
          <attribute name="vendeliverydate" id="w5g_p"/>
          <!-- costs -->
          <attribute name="pretaxtotal" id="bgqx5"/>
          <attribute name="totaltax1" id="p2mz6"/>
          <attribute name="totalcost" id="g7zp2"/>
          <attribute name="currencycode" id="v8p7m"/>
          <attribute name="totalbasecost" id="j8w_g"/>
          <!-- vendor -->
          <attribute name="vendor{name,address1,address2,address3,address4,phone}" id="ba5wq"/>
          <attribute name="contact" id="vn2gy"/>
          <attribute name="customernum" id="m65pr"/>
          <attribute name="internalchange" id="w9a2w"/>
          <attribute name="internal" id="yqqx5"/>
          <attribute name="storeloc" id="aq_yq"/>
          <attribute name="storelocsiteid" id="g_3k7"/>
          <attribute name="freightterms" id="kn9by"/>
          <attribute name="paymentterms" id="kvy3e"/>
          <attribute name="shipvia" id="mj_5a"/>
          <attribute name="fob" id="ygwyn"/>
          <attribute name="inclusive1" id="dex4k"/>
          <attribute name="payonreceipt" id="mprz7"/>
          <attribute name="inspectionrequired" id="pq6p9"/>
          <!-- ship to -->
          <attribute name="shipto{description,address1,address2,address3,address4}" id="yg5zx"/>
          <attribute name="shiptoattn" id="zrmbp"/>
          <!-- bill to -->
          <attribute name="billto{description,address1,address2,address3,address4}" id="yp365"/>
          <attribute name="billtoattn" id="vvyg8"/>
        </schema>
      </maximo-datasource>
      <maximo-datasource id="workLogTypeDomain" lookup-data="true" object-structure="mxapisynonymdomain" saved-query="MOBILEDOMAIN" selection-mode="single">
        <schema id="m6ad8">
          <attribute name="value" searchable="true" id="xy3yw"/>
          <attribute name="maxvalue" searchable="true" id="g55q8"/>
          <attribute name="description" searchable="true" id="pgjq3"/>
          <attribute name="domainid" searchable="true" id="n6b94"/>
          <attribute name="valueid" unique-id="true" searchable="true" id="pvxdm"/>
          <attribute name="siteid" searchable="true" id="d2gvz"/>
          <attribute name="orgid" searchable="true" id="jbaaw"/>
          <attribute name="defaults" id="eepwz"/>
        </schema>
      </maximo-datasource>
      <dialogs id="poDetailsDialogList">
        <dialog id="longDescDialog" title="Long Description" passive="true" size="lg">
          <rich-text-viewer content="{poDetailResource.item.description_longdescription}" stripped="true" id="rd_4m"/>
        </dialog>
        <dialog id="revDetailsDialog" title="Revision Comments" passive="true" size="lg">
          <rich-text-viewer content="{poDetailResource.item.revcomments_longdescription" stripped="true" id="nk48p"/>
        </dialog>
        <dialog id="saveDiscardWorkLogDetail" title="Save or discard changes?" sm-auto-height="true" size="sm" primary-action-text="Save" on-primary-action="saveWorkLogSaveDiscard" primary-kind="secondary" primary-button-disabled="{page.state.workLogData.sendDisable}" on-secondary-action="closeWorkLogSaveDiscard" secondary-action-text="Discard">
          <label wrap="true" label="To leave this page, you must first discard or save your changes." id="kx5n_"/>
        </dialog>
        <!-- sliding drawers -->
        <sliding-drawer id="poWorkLogDrawer" validate="workLogValidate" align="start" header-text="Work Log" content-padding="false">
          <chat-log messages="{page.state.chatLogGroupData}" default-log-type="{page.state.initialDefaultLogType}" default-log-type-key="value" datasource="synonymdomainData" content-limit="{page.state.chatLogDescLength}" log-type-attribute="{['value', 'description']}" on-click="saveWorkLog" loading="{page.state.chatLogLoading}" is-config-btn="true" watch-changes="watchChatLogChanges" id="poDetailsWorkLog"/>
        </sliding-drawer>
        <!-- lookups -->
        <lookup id="logTypeLookupDetailsPage" show-search="false" lookup-heading="Select log type" show-count="false" datasource="workLogTypeDomain" on-item-click="setPODetailsLogType" border="true" lookup-attributes="{['value', 'description']}" height="400" width="60"/>
      </dialogs>
      <header-template hidden="{page.state.loading}" title-column-width="{app.state.screen.size === 'lg' ? 45 : 60}" id="y7_4_">
        <button slot="buttons" label="Approve" icon="" loading="{page.state.workloading || page.state.transactionProgress}" kind="secondary" on-click="approvePO" on-click-arg="{{'item': poDetailResource.item, 'datasource': poDetailResource.datasource}}" id="poDetailApproveBtn"/>
        <button slot="buttons" label="Reject" icon="" loading="{page.state.workloading || page.state.transactionProgress}" kind="secondary" on-click="rejectPO" on-click-arg="{{'item': poDetailResource.item, 'datasource': poDetailResource.datasource}}" id="poDetailRejectBtn"/>
      </header-template>
      <header-template hidden="{!page.state.loading}" id="w_dp5">
        <button slot="buttons" loading="true" kind="ghost" id="q9gjd"/>
      </header-template>
      <adaptive-row id="jx8ea">
        <adaptive-column xlarge-width="60" large-width="100" medium-width="100" small-width="100" id="dmj2r">
          <border-layout fill-parent="true" padding="true" id="q6vjj">
            <middle vertical-align="center" id="exp96">
              <box padding-start="{app.state.screen.size === 'lg' || app.state.screen.size === 'sm' || app.state.screen.size === 'md' ? '0' : '.5'}" padding-bottom="{app.state.screen.size === 'lg' || app.state.screen.size === 'sm' || app.state.screen.size === 'md' ? '-.5' : '1.5'}" padding-top="{app.state.screen.size === 'lg' || app.state.screen.size === 'sm' || app.state.screen.size === 'md' ? '.5' : '1.5'}" id="wg26q">
                <wrapped-text size="large" label="{poDetailResource.item.description}" sub-label="{poDetailResource.item.ponum}" truncation-type="end" id="nkra5"/>
              </box>
            </middle>
          </border-layout>
        </adaptive-column>
        <adaptive-column id="dz642">
          <box direction="column" background-color="field-01" padding="{app.state.screen.size === 'sm' || app.state.screen.size === 'md' ? 0 : 0.5}" id="rgbgw">
            <border-layout padding="true" fill-parent="true" top-border="true" id="zmk9x">
              <top id="knew6">
                <label label="Details" theme="20-regular" id="kkm2j"/>
              </top>
              <middle horizontal-overflow="hidden" id="qnq_5">
                <border-layout fill-parent="true" top-border="true" id="zd22e">
                  <top id="zb7xr">
                    <adaptive-row id="gyrey">
                      <adaptive-column small-width="100" medium-width="100" large-width="50" medium-horizontal-align="start" id="mjnwx">
                        <border-layout fill-parent="true" id="z2neq">
                          <middle id="gg5rd">
                            <button hidden="{!poDetailResource.item.description_longdescription}" padding="false" icon="carbon:maximize" kind="secondary" dialog="longDescDialog" id="nq5md"/>
                            <box direction="row" fill-parent-horizontal="true" padding="{app.state.screen.size === 'sm' || app.state.screen.size === 'md' ? '.5' : '0'}" id="longDescBox">
                              <rich-text-viewer content="{poDetailResource.item.description_longdescription}" padding="0.5" content-limit="256" stripped="false" id="wbak3"/>
                            </box>
                          </middle>
                        </border-layout>
                      </adaptive-column>
                      <adaptive-column small-width="100" medium-width="100" large-width="50" medium-horizontal-align="start" id="jm5vp">
                        <border-layout id="xnvnw">
                          <middle id="vendorInfo">
                            <box direction="row" id="vendorContact">
                              <label label="Vendor" id="zpe68"/>
                              <label label="{poDetailResource.item.vendor.name}" id="yew6r"/>
                              <label label="Phone" id="d4wgp"/>
                              <label label="{poDetailResource.item.vendor.phone}" id="w6_re"/>
                            </box>
                            <box id="vendorAddress">
                              <label label="Vendor Address" id="d7_67"/>
                              <label label="{poDetailResource.item.vendor.address1}" hidden="{!poDetailResource.item.vendor.address1}" id="dem5d"/>
                              <label label="{poDetailResource.item.vendor.address2}" hidden="{!poDetailResource.item.vendor.address2}" id="jn6y_"/>
                              <label label="{poDetailResource.item.vendor.address3}" hidden="{!poDetailResource.item.vendor.address3}" id="bx5d4"/>
                              <label label="{poDetailResource.item.vendor.address4}" hidden="{!poDetailResource.item.vendor.address4}" id="nw293"/>
                            </box>
                          </middle>
                          <bottom id="jw3kv">
                            <box id="vbbr5">
                              <button-group id="poDetailsBtnGroup">
                                <button icon="carbon:document" kind="secondary" loading="{page.state.chatLogLoading || page.state.loading}" on-click="openWorkLogDrawer" on-click-arg="{{'item':poDetailResource.item}}" disabled="{page.state.loading}" id="openWorkLogBtn"/>
                              </button-group>
                            </box>
                          </bottom>
                        </border-layout>
                      </adaptive-column>
                    </adaptive-row>
                  </top>
                </border-layout>
              </middle>
            </border-layout>
          </box>
        </adaptive-column>
      </adaptive-row>
      <box direction="column" id="poDetailsNavigatorBox">
        <navigator width="100%" theme="ui-05" mode="list" fade-background-color="false" id="nn8nd">
          <navigator-tile tile-label="Attachments" pictogram="maximo:document--attachments" onclick-action="showAttachmentPage" onclick-action-arg="{{'item':poDetailResource.item}}" badge-value="{app.state.doclinksCount}" badge-type="dark-gray" id="poDetailsAttachmentsTile"/>
          <navigator-tile tile-label="Revision History" onclick-action="openRevisionHistory" onclick-action-arg="{{'item': poDetailResource.item}}" id="rqj4g"/>
        </navigator>
      </box>
      <border-layout width="100%" padding="true" id="poDetailsPageFooter">
        <middle id="vvyxd">
          <adaptive-row id="qdrxr">
            <adaptive-column id="re29k">
              <box direction="column" id="xg45q">
                <label label="Order Date" id="mzrxk"/>
                <label label="{poDetailResource.item.orderdate}" id="kby6p"/>
              </box>
            </adaptive-column>
            <adaptive-column id="w73j8">
              <box direction="column" id="w97x4">
                <label label="Contact" id="k2y4d"/>
                <label label="{poDetailResource.item.contact}" id="bp4n8"/>
              </box>
            </adaptive-column>
          </adaptive-row>
        </middle>
      </border-layout>
    </page>
    <page id="attachments" title="Attachments" padding="true" controller="SharedResources/AttachmentController">
      <maximo-datasource id="purchaseOrderAttachmentResource" default="true" object-structure="mxapipo">
        <schema id="qv7z_">
          <attribute name="ponum" id="a3v8e"/>
          <attribute name="description" id="kd2ka"/>
          <attribute name="poid" unique-id="true" id="d9xga"/>
        </schema>
        <maximo-datasource id="attachmentListDS" attachment="true" page-size="250" relationship="doclinks" selection-mode="none">
          <schema id="rx7_8">
            <attribute name="*" unique-id="true" id="p235p"/>
          </schema>
        </maximo-datasource>
      </maximo-datasource>
      <panel id="vn25k">
        <attachment-list datasource="attachmentListDS" hide-when-empty="false" show-search="false" show-managed-header="true" is-editable="{(app.checkSigOption(`${app.state.poOSName}.ADDATTACHMENTS`) &amp;&amp; app.state.poStatus !== 'CLOSE' &amp;&amp; app.state.poStatus !== 'CAN')}" allow-naming="true" id="jpd9j"/>
      </panel>
    </page>
  </pages>
  <messages id="n5_2r">
    <message id="unknown" text="Unknown"/>
    <message id="fail_get_synonym" text="Can not get the synonym data({0}"/>
    <message id="record_not_on_device" text="This record is not on your device. Try again or wait until you are online."/>
    <message id="Select_a_type_label" text="Select a type"/>
    <message id="priority_error_msg" text="Priority {0} is not a valid priority value between {1} and {2}"/>
    <message id="confirmDialogTitle" text="Confirmation"/>
    <message id="confirmDialogAcceptButton" text="Yes"/>
    <message id="confirmDialogRejectButton" text="No"/>
    <message id="poCompleted_label" text="Purchase order {0} completed"/>
    <message id="priority_label" text="Priority {0}"/>
    <message id="defaultTitle" text="System message"/>
    <message id="information_missing" text="Required information is missing."/>
    <message id="cluster" text="Cluster"/>
    <message id="inprogress" text="In Progress"/>
    <message id="completed" text="Completed"/>
    <message id="approved" text="Approved"/>
    <message id="waitappr" text="Waiting for Approval"/>
    <message id="others" text="Others"/>
    <message id="accepted" text="Accepted"/>
    <message id="rejected" text="Rejected"/>
    <message id="accepted_po" text="Purchase order {0} was accepted."/>
    <message id="accepted_po_failure" text="Purchase order {0} could not be accepted by you."/>
    <message id="rejected_po" text="Purchase order {0} was rejected"/>
    <message id="rejected_po_failure" text="Purchase order {0} could not be rejected. Resync data and try again."/>
    <message id="completed_wo" text="Purchase order {0} was completed."/>
    <message id="reject_header" text="Reject Purchase order"/>
    <message id="reject_subheader" text="Select the rejection code"/>
    <message id="record_not_available_device" text="Record not available in the device"/>
    <message id="messages_header_save_changes" text="Save or discard changes?"/>
    <message id="dialogcontroller_itemsChangedNotSaved" text="To leave this page, you must first discard or save your changes."/>
    <message id="messages_save_button" text="Save"/>
    <message id="messages_discard_button" text="Discard"/>
  </messages>
</maximo-application>