<maximo-application navigator-tile-order="200" controller="AppController" theme="touch" product-name="Maximo" product-name-adaptive="Maximo" title="PO Approvals" id="apprmobile" mas-id="manage" version="9.1.0.0" default-log-level="error" user-menu-enabled="true" nav-initial-open-state="false" mas-enabled="false">
  <properties id="a1_bnr9n"/>
  <states id="a1_n2x92">
    <state name="currentItem" value="" type="string" id="a1_q8vqb"/>
    <state name="firstLogin" value="false" type="boolean" id="a1_pej6y"/>
    <state name="selectedDS" type="string" value="assignedpoDS" id="a1_bg84j"/>
    <state name="dsInitCount" value="0" type="number" id="a1_my8qj"/>
    <state name="refreshOnSubsequentLogin" value="false" type="boolean" id="a1_vbedb"/>
    <state name="OSName" value="MXAPIPO" type="string" id="a1_n5v_p"/>
    <state name="firstPO" value="" type="string" id="a1_v8kbd"/>
  </states>
  <menu slot="navigation-items" id="a1_xkdde">
    <menu-item label="PO Approvals" icon="maximo:work-orders-approve" page="approvals" id="a1_d_6q7"/>
  </menu>
  <maximo-datasource id="poDS" object-structure="mxapipodoc" id-attribute="ponum" offline-immediate-download="true" page-size="100" lookup-data="true" controller="DataController" cache-expiry-ms="1" item-url="{page.params.href}">
    <schema id="a1_wyr_2">
      <attribute name="ponum" unique-id="true" id="a1_qvw3_"/>
      <attribute name="description" id="a1_r4637"/>
      <attribute name="description_longdescription" id="a1_w8465"/>
      <attribute name="status" id="a1_e2b9j"/>
      <attribute name="statusdate" id="a1_q68_q"/>
      <attribute name="siteid" id="a1_mm92v"/>
      <attribute name="revisionnum" id="a1_nx_29"/>
      <attribute name="revcomments" id="a1_weg7y"/>
      <attribute name="revcomments_longdescription" id="a1_ypn_b"/>
      <attribute name="potype" id="a1_zmg9a"/>
      <attribute name="vendor" id="a1_ykrxp"/>
      <attribute name="contact" id="a1_dx_p_"/>
      <attribute name="priority" id="a1_b3jbe"/>
      <attribute name="totalcost" computed-function="computedTotalCost" id="a1_mwrgq"/>
      <attribute name="currencycode" id="a1_kmw8e"/>
    </schema>
    <maximo-datasource id="poLineDS" relationship="poline" selection-mode="none" order-by="polinenum">
      <schema id="a1_jq9j3">
        <attribute name="polinenum" id="a1_wr4e_"/>
        <attribute name="description" id="a1_qgkz6"/>
        <attribute name="itemnum" id="a1_ngyz4"/>
        <attribute name="requestedby" id="a1_eew9y"/>
        <attribute name="linecost" id="a1_rkyz3"/>
        <attribute name="orderqty" id="a1_m527n"/>
        <attribute name="linetype" id="a1_g5an7"/>
        <attribute name="orderunit" id="a1_r5zmw"/>
        <attribute name="unitcost" id="a1_nypgk"/>
        <attribute name="tax1" id="a1_dyrm5"/>
        <attribute name="isdistributed" id="a1_vznzr"/>
        <attribute name="wonum" id="a1_wk2n3"/>
        <attribute name="assetnum" id="a1_p867j"/>
        <attribute name="location" id="a1_wn433"/>
        <attribute name="storeloc" id="a1_kp6a6"/>
        <attribute name="gldebitacct" id="a1_p8m4x"/>
      </schema>
    </maximo-datasource>
    <maximo-datasource id="attachmentsDS" relationship="doclinks" attachment="true" page-size="250" selection-mode="none" controller="SharedResources/AttachmentController"/>
    <maximo-datasource-override id="assignedpoDS" saved-query="POWAPPR" offline-immediate-download="true" order-by="priority" pre-load="true" selection-mode="none" default="true" page-size="25"/>
  </maximo-datasource>
  <maximo-datasource id="workLogDS" object-structure="mxapiworklog" selection-mode="none" controller="DataController" where="class=&quot;PO&quot;" cache-expiry-ms="1">
    <schema id="a1_ae344">
      <attribute name="recordkey" id="a1_xr5x4"/>
      <attribute name="siteid" id="a1_v79nq"/>
      <attribute name="worklogid" unique-id="true" id="a1_vypej"/>
      <attribute name="logtype" id="a1_wmpx5"/>
      <attribute name="class" id="a1_n9n8e"/>
      <attribute name="description" id="a1_dejby"/>
      <attribute name="clientviewable" id="a1_eqpa_"/>
      <attribute name="createby" id="a1_qgk4d"/>
      <attribute name="createdate" id="a1_m_8by"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="securityDS" object-structure="masapigrouplist" id-attribute="groupname" offline-immediate-download="true" page-size="100" controller="DataController" lookup-data="true">
    <schema id="a1_bv6j2">
      <attribute name="groupname" unique-id="true" id="a1_a4m5w"/>
      <attribute name="description" id="a1_qbz5_"/>
      <attribute name="orgid" id="a1_yz4nq"/>
    </schema>
    <maximo-datasource id="limitToleranceDS" relationship="limittolerance" notify-when-parent-loads="true" depends-on="securityDS">
      <schema id="a1_vedyz">
        <attribute name="authorized" id="a1_vdp2p"/>
        <attribute name="polimit" id="a1_emgv4"/>
        <attribute name="orgid" id="a1_g4mdn"/>
      </schema>
    </maximo-datasource>
  </maximo-datasource>
  <maximo-datasource id="synonymDomainDS" offline-immediate-download="true" lookup-data="true" object-structure="mxapisynonymdomain" saved-query="MOBILEDOMAIN" selection-mode="single">
    <schema id="a1_ar2n5">
      <attribute name="value" searchable="true" id="a1_ypwab"/>
      <attribute name="maxvalue" searchable="true" id="a1_b78gw"/>
      <attribute name="description" searchable="true" id="a1_p3yjv"/>
      <attribute name="domainid" searchable="true" id="a1_wmxpr"/>
      <attribute name="valueid" searchable="true" id="a1_d82m9"/>
      <attribute name="siteid" searchable="true" id="a1_z84wx"/>
      <attribute name="orgid" searchable="true" id="a1_d5ggq"/>
      <attribute name="defaults" id="a1_a3pxq"/>
    </schema>
  </maximo-datasource>
  <dialogs id="a1_ewm59"/>
  <pages id="apprpages">
    <page id="approvals" path="/poApprovals" title="Approvals" icon="maximo:work-orders-approve" controller="PageController">
      <states id="a1_gjk57">
        <state name="selectedSwitch" value="0" type="number" id="a1_raaj5"/>
        <state name="checkForUpdateBtn" value="false" type="boolean" id="a1_p5ed8"/>
      </states>
      <dialogs id="a1_ydvgz"/>
      <header-template hide-breadcrumb="true" id="a1_vgpqe">
        <dropdown slot="dropdown" background-color="white" selected-item="{app.state.selectedDS}" on-change="reloadList" hide-unselected-placeholder="true" id="a1_zym62">
          <dropdown-item value="assignedpoDS" text="Purchase Orders Awaiting Approval" id="a1_v54p5"/>
        </dropdown>
      </header-template>
      <stacked-panel selected-index="{page.state.selectedSwitch}" id="a1_qp7dm">
        <panel id="a1_ryqyv">
          <include src="./po-card-group.xml" id="a1_v5pnm"/>
        </panel>
      </stacked-panel>
    </page>
    <page id="poDetails" path="/poDetails" title="Purchase Order" controller="PageController">
      <states id="a1_r8j4j">
        <state name="loading" value="false" type="boolean" id="a1_kx2b7"/>
      </states>
      <dialogs id="a1_k737x"/>
      <header-template hidden="{page.state.loading}" id="a1_vn48k">
        <button slot="buttons" label="Approve" icon="carbon:checkmark" kind="secondary" on-click="approvePO" on-click-arg="{ app.poDS.item }" id="a1_yr_kk"/>
        <button slot="buttons" label="Reject" icon="carbon:error" kind="secondary" on-click="rejectPO" on-click-arg="{ app.poDS.item }" id="a1_naxp5"/>
      </header-template>
      <header-template hidden="{!page.state.loading}" id="a1_jxnje">
        <button slot="buttons" loading="true" kind="ghost" id="a1_vdjdz"/>
      </header-template>
      <!-- PO num & description -->
      <box fill-parent-horizontal="true" id="a1_mgnxr">
        <border-layout fill-parent="true" padding="true" id="a1_dryb_">
          <middle vertical-align="center" id="a1_pwwre">
            <box id="a1_zyk7n">
              <wrapped-text size="large" label="{poDS.item.description}" sub-label="{poDS.item.ponum}" truncation-type="end" id="a1_bbjkj"/>
            </box>
          </middle>
        </border-layout>
      </box>
      <!-- Details box -->
      <box background-color="field-01" fill-parent-horizontal="true" direction="column" padding-top="0" padding-bottom="0" id="a1_gaza7">
        <border-layout padding="false" fill-parent="true" top-border="true" id="a1_vvm33">
          <top id="a1_e6752">
            <box padding-start="1" padding-end="1" padding-top=".75" padding-bottom=".75" id="a1_aqjd8">
              <label label="Details" theme="20-regular" id="a1_wjgzk"/>
            </box>
          </top>
          <start id="a1_rpgpg">
            <!-- details box left side -->
            <box padding="0" fill-parent-horizontal="true" border-bottom="{app.device.isMaximoMobile}" padding-start="1" padding-end="1" padding-bottom="1" padding-top="1" hidden="{!poDS.item.description_longdescription}" id="a1_g8w55">
              <label label="Long Description" padding="top" color="text-02" theme="14-regular" id="a1_x3x7b"/>
              <rich-text-viewer content="{poDS.item.description_longdescription}" padding-start="0.5" padding-end="0.5" content-limit="256" stripped="true" id="a1_pwkpb"/>
              <button padding="false" icon="carbon:maximize" kind="secondary" dialog="longDescDialog" id="a1_a3nv_"/>
            </box>
          </start>
          <middle id="a1_jpmpk">
            <!-- details box center -->
            <box fill-parent-horizontal="true" id="a1_v_5qr">
              <data-list datasource="poLineDS" width="100" show-search="false" show-count="true" title="Line Items" id="a1_ve8n5">
                <box slot="item" id="a1_a_x6k">
                  <field label="Line" value="{item.polinenum}" id="a1_kza8k"/>
                  <field label="Item" value="{item.itemnum}" id="a1_ax364"/>\
									
                  <field label="Description" value="{item.description}" id="a1_zgjnx"/>
                  <field label="Quantity" value="{item.orderqty}" id="a1_gn_67"/>
                  <field label="Order Unit" value="{item.orderunit}" id="a1_bqnkm"/>
                  <field label="Unit Cost" value="{item.unitcost}" id="a1_y59j_"/>
                  <field label="Line Cost" value="{item.linecost}" id="a1_ezb9n"/>
                  <field label="Tax" value="{item.tax1}" id="a1_qv55w"/>
                  <field label="Distributed?" value="{item.isdistributed}" id="a1_qgdjd"/>
                </box>
              </data-list>
            </box>
          </middle>
          <end id="a1_j5gxz">
            <!-- details box right side -->
            <box id="a1_jmjqw">
              <label label="Default Line Data" theme="16-regular" id="a1_a85w4"/>
            </box>
            <box id="a1_wz73y">
              <field label="Work Order" value="{poLineDS.item.wonum}" id="a1_ywdyz"/>
              <field label="Asset" value="{poLineDS.item.assetnum}" id="a1_kqp5w"/>
              <field label="Requested by" value="{poLineDS.item.requestedby}" id="a1_ze_ga"/>
            </box>
            <box id="a1_vzqgp">
              <field label="Location" value="{poLineDS.item.location}" id="a1_x3xz3"/>
              <field label="Storeroom" value="{poLineDS.item.storeloc}" id="a1_jx395"/>
              <field label="GL Debit Account" value="{poLineDS.item.gldebitacct}" id="a1_v64_w"/>
            </box>
          </end>
          <bottom id="a1_rn3g4">
            <!-- details box bottom -->
          </bottom>
        </border-layout>
      </box>
      <!-- Buttons -->
      <!-- Page Links -->
      <box direction="column" id="a1_yvmw9">
        <navigator width="100%" theme="ui-05" mode="list" fade-background-color="false" id="a1_m89yv">
          <navigator-tile tile-label="Attachments" pictogram="maximo:document--attachments" onclick-action="showAttachmentPage" onclick-action-arg="{{ 'item': poDS.item }}" badge-value="{page.state.doclinksCount}" badge-type="dark-gray" id="a1_vz6jx"/>
        </navigator>
      </box>
    </page>
    <page id="attachments" padding="true" controller="PageController">
      <panel id="a1_w_zk5">
        <attachment-list datasource="attachmentsDS" hide-when-empty="false" show-search="false" show-managed-header="true" is-editable="{(app.checkSigOption(`${app.state.OSName}.ADDATTACHMENTS`))}" allow-naming="true" id="a1_b2996"/>
      </panel>
    </page>
  </pages>
  <messages id="a1_z9kp6">
	<message id="record_not_on_device" text="This record is not on your device. Try again or wait until you are online."/>
  </messages>
</maximo-application>